<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>The Gram</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
      <meta name="description" content="The Gram is a clone of instagram">
      <% if Rails.env.production? %>
        <link rel="icon" href="https://adamjz-the-gram.herokuapp.com/favicon.ico" />
      <% end %>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", media: "all" %>
      <%= javascript_pack_tag "application" %>
      <% if logged_in? %>
        <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/private_user.json.jbuilder", user: current_user).html_safe %>
        </script>
      <% end %>
    </head>
    <body>
      <%= yield %>
      <script type="text/javascript">
        window.mainLogoUrl = "<%= image_url('the-gram-logo.png') %>"
        window.appStoreLinkImg = "<%= image_url('app-store-download-link.png') %>"
        window.playStoreLinkImg = "<%= image_url('play-store-download-link.png') %>"
        window.placeholderImgUrl = "<%= image_url('placeholder-img.jpg') %>"
        window.profileFeedGrey = "<%= image_url("icons/profile-feed-grey.png") %>"
        window.profileFeedBlue = "<%= image_url("icons/profile-feed-blue.png") %>"
        window.greyChevron = "<%= image_url("icons/chevron-right-grey.png") %>"
        window.noAvatarImg = "<%= image_url('icons/no-avatar.jpg') %>"
        window.cameraLoader = "<%= image_url("icons/camera-loader.png") %>"
        window.postStyleSprites = "<%= image_url("post-style-sprites.png") %>"
        
        window.normalFilter = "<%= image_url("filters/Normal.jpg") %>"
        window.clarendonFilter = "<%= image_url("filters/Clarendon.jpg") %>"
        window.ginghamFilter = "<%= image_url("filters/Gingham.jpg") %>"
        window.moonFilter = "<%= image_url("filters/Moon.jpg") %>"
        window.larkFilter = "<%= image_url("filters/Lark.jpg") %>"
        window.reyesFilter = "<%= image_url("filters/Reyes.jpg") %>"
        window.junoFilter = "<%= image_url("filters/Juno.jpg") %>"
        window.slumberFilter = "<%= image_url("filters/Slumber.jpg") %>"
        window.cremaFilter = "<%= image_url("filters/Crema.jpg") %>"
        window.ludwigFilter = "<%= image_url("filters/Ludwig.jpg") %>"
        window.adenFilter = "<%= image_url("filters/Aden.jpg") %>"
        window.perpetuaFilter = "<%= image_url("filters/Perpetua.jpg") %>"
      </script>
    </body>
  </html>
